 <!DOCTYPE html>
 <html>
 <head>
 	<title>Morans.info Requests</title>

 	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
 	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 	<link rel="stylesheet" type="text/css" href="/public/css/sidebar.css">
 	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
 </head>
 <body>
 	<nav class="navbar navbar-expand-md navbar-dark mb-0">
		<a href="/<%= prefix %>"><span class="navbar-brand mx-4">Morans.info Requests</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	  		<span class="navbar-toggler-icon"></span>
		</button>
	</nav>