 <!DOCTYPE html>
 <html>
 <head>
 	<title>Morans.info Requests</title>

 	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
 	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 	<link rel="stylesheet" type="text/css" href="css/sidebar.css">
 	<link rel="stylesheet" type="text/css" href="css/main.css">
 </head>
 <body>
 	<nav class="navbar navbar-expand-md navbar-dark mb-0">
        <button type="button" id="sidebarCollapse" class="btn btn-light">
            <span class="fas fa-bars"></span>
        </button>
		<span class="navbar-brand mx-4">Requests</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	  		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
	  		<ul class="navbar-nav col-sm-4">
		    	<li class="nav-item">
		        	<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/request">Request</a>
		      	</li>
	    	</ul>
	  	</div>
	</nav>