<div class="wrapper">
	<nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <a class="text-center" href="/request">Request</a>
            </li>
            <li class="text-center">
                <% if(currentUser){ %>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">[USERNAME]</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/profile">Profile</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                <% } else { %>    
                    <a href="/login">Log In</a>
                <% }; %>
            </li>
            <li class="text-center">
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>

	<div id="content">