<div class="wrapper">
	<nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <a href="#">Requests</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">[USERNAME]</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <% if(currentUser){ %>
                        <li>
                            <a href="/profile">Profile</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    <% } else { %>
                        <li>    
                            <a href="/login">Log In</a>
                        </li>
                    <% }; %>
                </ul>
            </li>
        </ul>
    </nav>

	<div id="content">