<% include ../partials/header %>
<% include ../partials/sidebar %>

<h1 class="text-center">Admin Dashboard</h1>

<div class="card w-50 mx-auto">
	<div class="card-body">
		<a href="/<%= prefix %>/invite" class="btn btn-dark btn-lg col-4 mx-auto">Invite</a>
		<a href="/<%= prefix %>/users" class="btn btn-dark btn-lg col-4 mx-auto">Users</a>
	</div>
</div>

<% include ../partials/footer %>