<% include ../partials/header %>
<% include ../partials/sidebar %>

<div class="card">
	<div class="card-body">
		<h1><span>My Requests:</span></h1>
		<hr>

		<p>FILLLLLLEEEERRRR</p>
	</div>	
</div>

<% include ../partials/footer %>