<% include ./partials/header %>
<% include ./partials/sidebar %>

	<div class="card w-50 mx-auto">
		<form class="card-body text-center" action="/login" method="post">

			<h2 class="text-center">Login</h2>
			<hr>

			<div class="form-group row">
				<label class="col-2 control-label">Username:</label>
				<input class="col-7 form-control mx-auto" type="text" name="username" placeholder="Enter Username:" autofocus required>
			</div>

			<div class="form-group row">
				<label class="col-2 control-label">Password:</label>
				<input class="col-7 form-control mx-auto" type="password" name="password" placeholder="Enter password:">
			</div>

			<hr>
			
			<div class="form-group row">
				<a class="btn btn-cancel btn-lg col-4 mx-auto" href="/register">Register</a>
				<button class="btn btn-dark btn-lg col-4 mx-auto">Log In</button>
			</div>
		</form>
	</div>

<% include ./partials/footer %>