* {
	color: rgba(255,255,255,70%);
}

hr {
	background: #cb7a1f80;
	height: 1px;
}

.btn-secondary {
	color: rgba(255,255,255,70%);
}

.btn-cancel {
	background: #cb7a1f;
	border: 1px solid #cb7a1f80;
}

.btn-cancel:hover {
	background: #cb7a1fcc;
	border: 1px solid #cb7a1f80;
}

.btn-dark, .btn-dark:hover {
	border: 1px solid #cb7a1f80;
}

.card, .modal-content {
	background: #38474F;
	border: 1px solid #cb7a1f60;
}

.fa-bars {
	color: #cb7a1f;
}

.btn-light {
	border-color: #cb7a1f;
}

.navbar-dark {
	background-color: rgb(26, 34, 40);
	border-bottom: 1px solid #CB7A1F;
}

.navbar-dark .navbar-brand {
    color: rgba(255,255,255,70%);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,70%);
}

#sidebarCollapse {
	background: #38474f;
}

/* Recommendations */
.recImg {
	height: 350px;
	width: 100%;
}

/* Search */
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

/* Modal */
.modal-body {
	background: ;
}