<% include ../partials/header %>
<% include ../partials/sidebar %>

<p><% console.log(result.toString()); %></p>

<% include ../partials/footer %>




















<!-- result.forEach(function(item){
					if(item.attributes.titles.en){
						console.log(item.attributes.titles.en);
					} else {
						console.log(item.attributes.titles.en_jp);
					};
					
					console.log(item.attributes.subtype);
					console.log("https://kitsu.io/manga/" + item.attributes.slug);
					console.log('--------------------------------');
				}); -->